header{
    background-color: gray;
    padding-left: 40%;
}

.nav-link{
    color: aliceblue;
}

.nav-link:hover{
    color: black;
}

#carouselExampleFade{
    width: 80%;
    margin: 0 auto;
}


.card{
    margin: 20px;
}


